.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.login{
  width: 50%;
  height: 300px;
  margin: 200px auto;
  text-align: center;
}

.LoginfieldBox{
  background-color: lightgrey;
  text-align: center;
  padding: 0px auto;

}

.sidenav{
  background-color: darkgrey;
  padding: 0px !important;
}

.MuiAccordion-root.Mui-expanded {
  margin: 0px !important;
}

.row{
  padding: 0px !important;
}

ul{
  padding: 0px !important;
  margin: 0px !important;
}
li{
  list-style: none;
}
.MuiAccordionDetails-root{
  padding: 0px !important;
}
.personimg{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.mailsBlock{
  background-color: #f1f1f1f1;
  padding: 20px;
}
.folders li{
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
}
.folders li span{
  margin: 0px 5px;
}
.inbox{
  background-color: #fff;
  border: 1px solid lightgrey;
}
.mailsList .active{
  background-color: #f1f1f1f1;
}
.modal{
  
}